@mixin devices($breakpoint) { //the name of the mixin is devices
  
    @if $breakpoint == tiny {    
    @media screen and (max-width: 800px) {
      @content;
    }
  }
  
}

.header{
    width: 84%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 8%;
    top: 3vh;
    z-index: 1;
    color: #D1D5DB;

    @include devices(tiny){
        top: 0.1vh;
    }

    .logo-container{
        display: flex;
        justify-content: space-between;
        width: 18%;

        #logo{
            margin-right: 25px;
            width: 80px;
            height: 80px;
            @include devices(tiny){
                width: 30px;
                height: 30px;
                margin-top: auto;
                margin-bottom: auto;
                
            }
        }

        h2{
            margin: auto;
            font-size: 2.5rem;
            @include devices(tiny){
                display: none;
            }
        }
    }
    .search-container{
        width: 60%;
        margin: auto;
        height: 6vh;
        display: flex;

        .search{
            background-color: #ffffff00;
            outline: none;
            width: 75%;
            margin-left: auto;
            margin-right: auto;
            border: 2.2px solid #D1D5DB;
            color: #D1D5DB;
            border-radius: 5px;
            font-size: 0.9rem;
            padding-left: 1.5%;

            @include devices(tiny){
                padding-top: 1vh;
                padding: 3%;
            }

            &::placeholder{
                color: #D1D5DB;
                font-size: 1rem;

                @include devices(tiny){
                    font-size: 0.6rem;
                }
            }

            @include devices(tiny){
                width: 100%;
                height: 70%;
                border-radius: 20px;
                margin-top: auto;
                margin-bottom: auto;
                padding-bottom: 1vh;
            }
        }
        .search-icon{
            margin-right: 0;
            position: absolute;
            left: 75%;
            top: 3.3vh;
            width: 20px;
            height: 20px;

            @include devices (tiny){
                width: 12px;
                height: 12px;
                top: 2.1vh;
                left: 75%;
            }
        }
    }

    .menu-container{
        display: flex;
        justify-content: space-between;
        
        width: 9%;
        
        @include devices(tiny){
            width: 15%;
        }
        #menu{
            margin: auto;
            margin-left: 25px;
            width: 45px;
            height: 45px;
            @include devices(tiny){
                width: 36px;
                height: 36px;
            }
        }

        h3{
            margin: auto;
            cursor: pointer;
            font-size: 1.5rem;
            
            &:hover{
                color: #BE123C;
            }
            
            @include devices(tiny){
                display: none;
            }
        }
    }
}