.img-slider{
    display: block;
    position: relative;
    margin-top: 0;

    .list{
        margin-top: -65vh;
        color: #D1D5DB;
        
        font-size: 0.8rem;
        li{
            &:hover{
                font-size: 1.5rem;
                list-style-type: circle;
            }
        }
    }
}