@mixin devices($breakpoint) { //the name of the mixin is devices
  
    @if $breakpoint == tiny {    
    @media screen and (max-width: 800px) {
      @content;
    }
  }
  
}

.footer{
    width: 42%;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    margin-bottom: 7vh;
    margin-top: 13vh;
    

    @include devices(tiny){
        margin-left: 15%;
        width: 70%;
        margin-bottom: 5vh;
        margin-top: 5vh;
    }

    .socials{
        
        display: flex;
        width: 35%;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 4vh;

        @include devices(tiny){
            width: 50%;
            margin-bottom: 2vh;
        }
        
        .div{
            margin: auto;
            
            .iconx{
                @include devices(tiny){
                    height: 3vh;
                }
            }
        }
        .ig{
            width: 8%;
        }
    }
    .policy{
        display: flex;
        justify-content: space-between;
        margin-top: 2vh;
        margin-bottom: 4vh;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        
        @include devices(tiny){
            width: 100%;
            margin-bottom: 2vh;
        }
        
        h2{
            font-size: 1rem;

            @include devices(tiny){
                font-size: 0.7rem;
                
            }
        }
    }
    .copyright{
        margin-left: auto;
        margin-right: auto;
        width: 38.3%;
        
        @include devices(tiny){
            width: 65%;
        }
        h2{
            font-size: 1rem;
            color: #6B7280;

            @include devices(tiny){
                font-size: 0.7rem;
            
            }
        }
    }
}